[Desktop Entry]
Name=OXIDE CE
Comment=AI-powered Zero-Day & Vulnerability Scanner
Encoding=UTF-8
Exec=/usr/bin/oxide-ce
Icon=oxide-community
StartupNotify=false
Terminal=true
Type=Application
Categories=01-reconnaissance;
Keywords=scanner;vulnerability;security;web;sqli;xss;lfi;fuzz;ssti;burp;nikto;nuclei;
